{% extends "pizzas/base.html" %}

{% block content %}

<p style="color:darkgreen;font-size:28px;"> Pizzeria </p>

<p style="color:red;font-size:38px;"> Welcome to the Pizzeria! Browse our menu now.</p>

<img src="https://www.thespruceeats.com/thmb/MD-dSsFP6k5XBSk9XcdOIfnF4K0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/prosciutto-pizza-4844358-hero-04-c0a6f73057ce4fed88982b75a5c2c8e1.jpg" height="600px" width="700px">
<!--img src="https://www.thespruceeats.com/thmb/lmDJraajDXMJ9izsIfzNt79GrSs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Pizzasupremehoriz-1ccfa0b1732b4c128427d19ae02a422b.jpg" height="600px" width="750px"-->


{% endblock content %}